:root {
    box-sizing: border-box;
    touch-action: none;
    line-height: 1.6;
    letter-spacing: .025em;
    font-size: 16px;
}

::selection {
    background: none;
}

#sortBox {
    background: #2f2f2f;
    height: 500px;
    width: 500px;
}

    #sortBox > div {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

        #sortBox > div > div {
            margin: .5rem;
            height: calc(100% - 1rem);

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

            #sortBox > div > div > div {
                height: 100%;
                width: 100%;
                background: #afafaf;
            }

                #sortBox > div > div > div.select-gray {
                    background: #7f7f7f;
                }

                #sortBox > div > div > div.select-orange {
                    background: rgb(255, 168, 55);
                }

                #sortBox > div > div > div.select-red{
                    background: rgb(255, 68, 68);
                }

                #sortBox > div > div > div.select-blue{
                    background: rgb(56, 133, 206);
                }

                #sortBox > div > div > div.complete{
                    background: rgb(95, 255, 167);
                }